<%- include ('../partials/head')%>
<body
  class="min-h-screen flex flex-col bg-gradient-to-br from-red-50 via-white to-pink-50"
>
  <%- include ('../partials/nav')%>
<div> <h1>Make your payment to confirm booking</h1></div>